body {
    margin: 2em;
    background-color: #fff;
}

body .btn.btn-success,
body .top_nav,
body .sidebar-left-col {
    display: none !important;
}

body .container.body .right_col {
    background: #fff !important;
    margin-left: 0 !important;
}